<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.rohail.debuggy">

    <uses-permission
        android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />

    <application>
        <activity
            android:name=".ui.LogsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.LogDetailActivity"
            android:exported="false" />
    </application>

</manifest>